*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #636363;
    scroll-behavior: smooth;
}
.dark-theme{
  --bg-color: #151515;
  --bg-light: #222;
  --heading-color: #ddd;
  --font-color: #ddd;
}
#moon{
  position: relative;
  bottom: -10%;
  width: 30px;
}
body a, button, .btn {
  cursor: pointer !important;
  font-family: 'Jost', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color) ;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}
:root {
  --bg-color: #fff;
  --primary-color: #189A46;
  --secondary-color: #f53626;
  --bg-light: rgba(147, 107, 232, 0.05);
  --heading-color: #000c04;
  --font-color: #696969
}
:root{
  --primary: #189A46
}
header{
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  background: var(--bg-color) !important;
  color: var(--heading-color) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
}
header .nav-link::before {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  height: 2px;
  width: 0px;
  background: var(--primary);
  transition: 0.5s;
  text-align: center;
}
header .nav-link:hover::before {
  width: 75%;
}
.dropdown-toggle::after {
  display: inline-block;
  content: none !important;
}
.nav-bar.darkmode .navbar-toggler{
  margin-right: auto !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--heading-color) !important;
  font-size: 1.2em;
  padding: 0 12px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 400;
  position: relative;
}
.navbar h1{
  color: var(--primary) !important;
  font-size: 35px;
  cursor: pointer;
}
.navbar-nav {
  margin-left: auto!important;
}
.bg-light{
  background: none !important;
}
.nav-item i{
  font-size: 10px;
  margin-left: 2px;
}
.navbar-nav .active .nav-link{
  color: var(--primary) !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color) !important;
}
.dropdown-item:hover {
  color: var(--primary-color);
  text-decoration: none;
  background: var(--bg-color) !important;
}
.nav-item .dropdown a:hover{
  color:  var(--primary-color) !important;
}
.navbar-toggler span{
  color: #fff;
  font-size: 23px;
}
.navbar-toggler {
  padding: 5px 7px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  background:  var(--primary-color);
}
a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color) !important;
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
  transition: all 0.5s;
}
.navbar-light .navbar-toggler-icon {
  display: none;
}
.carousel-inner .carousel-item img::before{
    content: "";
    position: absolute !important;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.6;
}
.carousel-indicators .active {
  background: green ;
  opacity: 1;
  width: 25px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-left: 12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px !important;
  opacity: 1 ;
  border-bottom: 0px;
  border-top: 0px;
}
.carousel-caption {
  max-width: 36em !important;
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);

}

.carousel-item h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.carousel-item p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.carousel-item a {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 10px 35px;
}

.carousel-item .btn-white {
  background-color: white;
  color: #189A46;
  margin: 48px 8px 0px 0px;

}

.carousel-item .border-btn:hover {
  color: #189A46;
  background-color: White;
  text-decoration: none;
  transition: .5s;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.aboutus{
  background: var(--bg-color);
  padding-bottom: 90px;
}
.aboutus__title{
    text-align: center;
}
.aboutus__title h6{
    padding-top: 90px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary-color) !important;
}
.aboutus__title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    margin: 0 auto;
    width: 60%;
}
.aboutus__title p{
   margin-top:  15px !important ;
    margin-bottom: 1rem !important;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    width: 59%;
}
a.read {
    font-size: 17px;
    border-bottom: 2px solid  var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
a, a:hover {
    text-decoration: none;
    color:  var(--primary-color);
}
.blog{
    background: var(--bg-light) !important;
}
.row{
    padding: 60px 0;
    width: 100%;
    margin-left: 0px;
}
.container .row{
  padding-right: 0px !important;
}
.col-lg-4 .blog__content:hover{
    background: var(--bg-light) !important  ;
}
.col-lg-4 .blog__content{
  background: var(--bg-color) !important;
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;    
}
.col-lg-4 i{
    color:  var(--primary);
    font-size: 30px;
    margin-bottom: 30px;
}
.col-lg-4 h4{
    margin-bottom: 30px;
    transition: all 0.5s;
    cursor: pointer;
}
.col-lg-4 h4:hover{
    color:   var(--primary-color) !important;
}
.col-lg-4 p{
  width: 96%;
  color: var(--font-color);
}
@media only screen and (max-width: 36em ) {
  .aboutus__title h3 { 
    font-size: 27px !important;
    line-height: 32px;
    width: 90%;
  }
  .aboutus__title p{
    width: 100%;
  }
  .row{
    width: 100%;
    flex-direction: column;
  }
  .col-lg-4{
    display:flex;
    width: 100% !important;
  }
  .col-lg-4 p{
    width: 101%;
  }
  .darkmode{
    width: 100% !important;
  }
  .carousel-inner{
    width: 100% !important;
  }
  .carousel-caption{
    width: 100% !important;
    left: 5% !important;
  }
  .carousel-item h5 {
    font-size: 55px !important;
    line-height: 55px !important;
    width: 100%;
  }

}

  